
= form_for @password do |f|
  %p
    %div.title
      %span.title Barebones Networking Secure Password Portal
      %br
      %span.tagline 
        The Barebones Networking Secure Password Portal is a secure way to communicate
        passwords over the web to the Barebones help desk
        %br
        All passwords are encrypted prior to storage and are available to only those with
        direct link. Once expired, encrypted passwords are unequivocally deleted from the
        database.
  %p.payload
    = f.text_field(:payload, { :class => "password", :value => PAYLOAD_INITIAL_TEXT, :onfocus => "prepareTextField(this)", :onblur => "revertTextField(this)", :autocomplete => "off" })
  %p.payload
    = f.text_field(:ticket_id, { :class => "password", :value => "Enter the Connectwise ticket number", :onfocus => "prepareTextField(this)", :onblur => "revertTextField(this)", :autocomplete => "off" })
  %p
    = f.submit(:value => "Send password!")


%p.notes      
  %span.tip
    * Tip: Only enter the password into the box.  Other identifying information can compromise security.
  -#%p
    -#%span
      -##cookie-save.cookie-save
        -#%a{ :onclick => "saveExpirations()", :href => "#" } Save 
        -#these expiration settings as
        -#%i default 
        -#in a browser cookie.
  %p
  %span.note
    All passwords are encrypted prior to storage and are available to only those with the direct link.
  %br/
  %span.note
    Once expired, encrypted passwords are unequivocally deleted from the database.

- if Rails.env == "production" or Rails.env == "development"
  %p.notes
    = link_to "About PasswordPusher", page_path('about')
    %br/
    Find us on:
    = succeed "," do
      = link_to "@Twitter", "https://twitter.com/pglombardo"
    = link_to "@Github", "https://github.com/pglombardo"
    &amp;
    = link_to "@Tumblr", "http://blog.gameface.in/"
